<div class="patient_details_section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="main-timeline2">
                    <div class="timeline">
                        <span class="icon fa fa-globe"></span>
                        <a href="#" class="timeline-content wow fadeInRight" data-wow-delay=".70s">
                            <p class="title">
                                <span class="step_no">Step 4</span>
                                <span class="data_text">Date: 06-07-2020</span>
                            </p>
                            <p class="description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada tellus lorem, et condimentum neque commodo quis.
                            </p>
                        </a>
                    </div>
                    <div class="timeline">
                        <span class="icon fa fa-rocket"></span>
                        <a href="#" class="timeline-content wow fadeInLeft" data-wow-delay=".60s">
                            <p class="title">
                                <span class="step_no">Step 3</span>
                                <span class="data_text">Date: 06-07-2020</span>
                            </p>
                            <p class="description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada tellus lorem, et condimentum neque commodo quis.
                            </p>
                        </a>
                    </div>
                    <div class="timeline">
                        <span class="icon fa fa-briefcase"></span>
                        <a href="#" class="timeline-content wow fadeInRight" data-wow-delay=".70s">
                            <p class="title">
                                <span class="step_no">Step 2</span>
                                <span class="data_text">Date: 06-07-2020</span>
                            </p>
                            <p class="description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada tellus lorem, et condimentum neque commodo quis.
                            </p>
                        </a>
                    </div>
                    <div class="timeline">
                        <span class="icon fa fa-mobile"></span>
                        <a href="#" class="timeline-content wow fadeInLeft" data-wow-delay=".60s">
                            <p class="title">
                                <span class="step_no">Step 4</span>
                                <span class="data_text">Date: 06-07-2020</span>
                            </p>
                            <p class="description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada tellus lorem, et condimentum neque commodo quis.
                            </p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="patient_name text-center">
                    <h4>Patient Name</h4>
                </div>
            </div>
        </div>
    </div>
</div>