<!-- <div class="patient_details_section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="main-timeline2">
                    <div class="timeline">
                        <span class="icon fa fa-globe"></span>
                        <a href="#" class="timeline-content wow fadeInRight" data-wow-delay=".70s">
                            <p class="title">
                                <span class="step_no">Step 4</span>
                                <span class="data_text">Date: 06-07-2020</span>
                            </p>
                            <p class="description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada tellus lorem, et condimentum neque commodo quis.
                            </p>
                        </a>
                    </div>
                    <div class="timeline">
                        <span class="icon fa fa-rocket"></span>
                        <a href="#" class="timeline-content wow fadeInLeft" data-wow-delay=".60s">
                            <p class="title">
                                <span class="step_no">Step 3</span>
                                <span class="data_text">Date: 06-07-2020</span>
                            </p>
                            <p class="description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada tellus lorem, et condimentum neque commodo quis.
                            </p>
                        </a>
                    </div>
                    <div class="timeline">
                        <span class="icon fa fa-briefcase"></span>
                        <a href="#" class="timeline-content wow fadeInRight" data-wow-delay=".70s">
                            <p class="title">
                                <span class="step_no">Step 2</span>
                                <span class="data_text">Date: 06-07-2020</span>
                            </p>
                            <p class="description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada tellus lorem, et condimentum neque commodo quis.
                            </p>
                        </a>
                    </div>
                    <div class="timeline">
                        <span class="icon fa fa-mobile"></span>
                        <a href="#" class="timeline-content wow fadeInLeft" data-wow-delay=".60s">
                            <p class="title">
                                <span class="step_no">Step 4</span>
                                <span class="data_text">Date: 06-07-2020</span>
                            </p>
                            <p class="description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada tellus lorem, et condimentum neque commodo quis.
                            </p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="patient_name text-center">
                    <h4>Patient Name</h4>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="patient_page_sections" *ngFor="let patients of listOfPatients">
    <div class="patient_details_section">
        <div class="container">
            <div class="row">
                <div class="patient_details_content">
                    <p class="patient_name"><strong>Name: </strong>{{ patients.patientName }}</p>
                    <p class="patient_no"><strong>Phone No: </strong>{{ patients.patientMobileNo}}</p>
                    <p class="patient_address"><strong>Address: </strong>{{ patients.patientAddress }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="New_time_sections">
        <div class="container">
            <div class="timeline">
                <div class="timeline-month">
                    {{ patients.monthYear}}
                    <!-- <span>3 Entries</span> -->
                </div>
                <div class="timeline-section">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="timeline-box wow bounceInUp">
                                <div class="box-title">
                                    <i class="fa fa-user-md" aria-hidden="true"></i> Doctor Details
                                </div>
                                <div class="box-content">
                                    <div class="box-item"><strong>Name: </strong> {{patients.doctorName}} </div>
                                    <div class="box-item"><strong>Speciality: </strong> {{ patients.doctorSpeciality}}</div>
                                    <div class="box-item"><strong>Experience: </strong> {{ patients.doctorExperience}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="timeline-box">
                                <div class="box-title">
                                    <i class="fa fa-user-o" aria-hidden="true"></i> Paitents Details
                                </div>
                                <div class="box-content">
                                    <div class="box-item"><strong>Name: </strong> {{patients.patientName}}</div>
                                    <div class="box-item"><strong>Age: </strong> {{patients.patientAge}}</div>
                                    <div class="box-item"><strong>Mo.No: </strong> {{patients.patientMobileNo}}</div>
                                    <!-- <div class="box-item"><strong>Address: </strong> {{patients.patientAddress}}</div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="timeline-section">
                    <div class="timeline-date">
                        Visited Date {{ patients.visitDate }}
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="timeline-box">
                                <div class="box-title">
                                    <i class="fa fa-plus-circle" aria-hidden="true"></i> OPD and IPD Details
                                </div>
                                <div class="box-content">
                                    <div class="box-item"><strong>OPD No: </strong> {{patients.OPDNo}}</div>
                                    <div class="box-item"><strong>OPD Time: </strong>{{patients.OPDTime}}</div>
                                    <div class="box-item"><strong>IPD No: </strong>{{patients.IPDNo}}</div>
                                    <div class="box-item"><strong>IPD Time: </strong>{{patients.IPDTime}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="timeline-box">
                                <div class="box-title">
                                    <i class="fa fa-check" aria-hidden="true"></i> Check Parameter
                                </div>
                                <div class="box-content">
                                    <div class="box-item"><strong>Parameter Name: </strong>{{ patients.parameterName}}</div>
                                    <div class="box-item"><strong>Parameter Code: </strong>{{ patients.parameterCode}}</div>
                                    <div class="box-item"><strong>Parameter Values: </strong>{{ patients.parameterValues}}</div>
                                    <div class="box-item"><strong>Parameter Details: </strong>{{ patients.parameterDetails}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="timeline-box">
                                <div class="box-title">
                                    <i class="fa fa-thermometer-half" aria-hidden="true"></i> Test Details
                                </div>
                                <div class="box-content">
                                    <div class="box-item"><strong>Test Name</strong>{{patients.testName}}</div>
                                    <div class="box-item"><strong>Test Result</strong>{{patients.testResult}}</div>
                                    <div class="box-item"><strong>Test Description</strong>{{patients.testDescription}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>