<!-- <div class="patient_details_section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="main-timeline2">
                    <div class="timeline">
                        <span class="icon fa fa-globe"></span>
                        <a href="#" class="timeline-content wow fadeInRight" data-wow-delay=".70s">
                            <p class="title">
                                <span class="step_no">Step 4</span>
                                <span class="data_text">Date: 06-07-2020</span>
                            </p>
                            <p class="description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada tellus lorem, et condimentum neque commodo quis.
                            </p>
                        </a>
                    </div>
                    <div class="timeline">
                        <span class="icon fa fa-rocket"></span>
                        <a href="#" class="timeline-content wow fadeInLeft" data-wow-delay=".60s">
                            <p class="title">
                                <span class="step_no">Step 3</span>
                                <span class="data_text">Date: 06-07-2020</span>
                            </p>
                            <p class="description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada tellus lorem, et condimentum neque commodo quis.
                            </p>
                        </a>
                    </div>
                    <div class="timeline">
                        <span class="icon fa fa-briefcase"></span>
                        <a href="#" class="timeline-content wow fadeInRight" data-wow-delay=".70s">
                            <p class="title">
                                <span class="step_no">Step 2</span>
                                <span class="data_text">Date: 06-07-2020</span>
                            </p>
                            <p class="description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada tellus lorem, et condimentum neque commodo quis.
                            </p>
                        </a>
                    </div>
                    <div class="timeline">
                        <span class="icon fa fa-mobile"></span>
                        <a href="#" class="timeline-content wow fadeInLeft" data-wow-delay=".60s">
                            <p class="title">
                                <span class="step_no">Step 4</span>
                                <span class="data_text">Date: 06-07-2020</span>
                            </p>
                            <p class="description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada tellus lorem, et condimentum neque commodo quis.
                            </p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="patient_name text-center">
                    <h4>Patient Name</h4>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="top_filter_section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="filter_contents">
                    <ul>
                        <li>
                            <div class="search_box_section">
                                <input type="text" placeholder="Search records" class="form-control">
                                <button><i class="fa fa-search"></i></button>
                            </div>
                        </li>
                        <li>
                            <div class="visit_type_section">
                                <select name="" id="">
                                    <option value="visit type">Visit Type</option>
                                    <option value="Lab">Lab</option>
                                    <option value="Clinic Visit">Clinic Visit</option>
                                </select>
                            </div>
                        </li>
                        <li>
                            <div class="visit_type_section">
                                <select name="" id="">
                                    <option value="visit Details">Visit Details</option>
                                    <option value="Notes">Notes</option>
                                    <option value="Medications">Medications</option>
                                    <option value="Assessments">Assessments</option>
                                    <option value="Vaccinations">Vaccinations</option>
                                </select>
                            </div>
                        </li>
                        <li>
                            <div class="visit_type_section">
                                <select name="" id="">
                                    <option value="Facility" >Facility</option>
                                    <option value="Facility1">Facility 1</option>
                                    <option value="Facility2">Facility 2</option>
                                    <option value="Facility3">Facility 3</option>
                                    <option value="Facility4">Facility 4</option>
                                </select>
                            </div>
                        </li>
                        <li>
                            <div class="visit_type_section">
                                <select name="" id="">
                                    <option value="Doctor" >Doctor</option>
                                    <option value="Doctor1">Doctor 1</option>
                                    <option value="Doctor2">Doctor 2</option>
                                    <option value="Doctor3">Doctor 3</option>
                                    <option value="Doctor4">Doctor 4</option>
                                </select>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="patient_page_sections" *ngFor="let patients of listOfPatients">
    <div class="patient_details_section">
        <div class="container">
            <div class="row">
                <div class="patient_details_content">
                    <p class="patient_name"><strong>Name: </strong>{{ patients.patientName }}</p>
                    <p class="patient_no"><strong>Phone No: </strong>{{ patients.patientMobileNo}}</p>
                    <p class="patient_address"><strong>Address: </strong>{{ patients.patientAddress }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="New_time_sections">
        <div class="container">
            <div class="timeline">
                <div class="timeline-month">
                    {{ patients.monthYear}}
                    <!-- <span>3 Entries</span> -->
                </div>
                <div class="timeline-section">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="timeline-date clinic_visit_date">
                                {{ patients.clinicvisitDate }}
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="box_heading cliic_visit_background"><i class="fa fa-plus" aria-hidden="true"></i> Clinic Visit</div>
                            <div class="report_body">
                                <div class="report_heading">
                                    <h2>Clinic Visit: {{patients.clinicSpecialist}}</h2>
                                    <span><i class="fa fa-user-md" aria-hidden="true"></i> {{patients.clinicDoctorName}}</span> <span><i class="fa fa-map-marker" aria-hidden="true"></i> {{patients.clinicSpecialistArea}}</span>
                                </div>
                                <div class="report_body_contents">
                                    <div class="body_sections">
                                        <h3>{{patients.followUpText}}</h3>
                                        <p>{{patients.followUpDuration}}</p>
                                    </div>

                                    <div class="body_sections">
                                        <h3>{{patients.noteAssessments}}</h3>
                                        <ol>
                                            <li>{{patients.assessmentsNo1}}</li>
                                            <li>{{patients.assessmentsNo2}}</li>
                                            <li>{{patients.assessmentsNo3}}</li>
                                            <li>{{patients.assessmentsNo4}}</li>
                                        </ol>
                                        <p>{{patients.assessmentsDescriptions}}</p>
                                    </div>

                                    <div class="body_sections">
                                        <h3>{{patients.reasonAppointment}}</h3>
                                        <p>{{patients.reasonAppointmentNo1}}</p>
                                    </div>

                                    <div class="body_sections">
                                        <h3>{{patients.Treatment}}</h3>
                                        <p>{{patients.TreatmentPointNo1}}</p>
                                        <p>{{patients.TreatmentNotes}}</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="timeline-section">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="timeline-date clinic_visit_date">
                                {{ patients.mirVisitDate }}
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="box_heading"><i class="fa fa-picture-o" aria-hidden="true"></i> IMAGING</div>
                            <div class="report_body">
                                <div class="report_heading">
                                    <h2>{{patients.testName}}</h2>
                                    <span><i class="fa fa-user-md" aria-hidden="true"></i> {{patients.testedDoctorName}}</span> <span><i class="fa fa-map-marker" aria-hidden="true"></i> {{patients.testLocation}}</span>
                                </div>

                                <div class="report_body_contents">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-9">
                                                <h3>{{patients.impression}}</h3>
                                                <p>{{patients.testDescriptions}}</p>
                                                <h3>{{patients.indication}}</h3>
                                                <p>{{patients.indicationDescription}}</p>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="img_section text-center">
                                                    <a href="../../../assets/images/MRI_brain.jpg" target="_blank">
                                                        <img src="../../../assets/images/MRI_brain.jpg" alt="">
                                                    </a>
                                                    <a href="../../../assets/images/MRI_brain.jpg" target="_blank" class="view_img_text">View Image</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="timeline-section">
                    <!--  -->
                    <div class="row">
                        <div class="col-md-2">
                            <div class="timeline-date clinic_visit_date lab_visit_date">
                                {{ patients.labVisitDate }}
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="box_heading labs_background"><i class="fa fa-flask" aria-hidden="true"></i> {{patients.Labs}} </div>
                            <div class="report_body">
                                <div class="report_heading">
                                    <h2>{{patients.Labs}}</h2>
                                    <span><i class="fa fa-map-marker" aria-hidden="true"></i> {{patients.LbasName}}</span>
                                </div>

                                <div class="report_body_contents">
                                    <h3>{{patients.LabsInformationsHeading}}</h3>
                                    <p>{{patients.LabsInformations}}</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="timeline-section">
                    <!-- <div class="timeline-date">
                        {{ patients.ecgVisitDate }}
                    </div> -->
                    <div class="row">
                        <div class="col-md-2">
                            <div class="timeline-date clinic_visit_date lab_visit_date">
                                {{ patients.ecgVisitDate }}
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="box_heading procedure_background"><i class="fa fa-bed" aria-hidden="true"></i> {{patients.procedure}}</div>
                            <div class="report_body">
                                <div class="report_heading">
                                    <h2>{{patients.procedureName}}</h2>
                                    <span><i class="fa fa-map-marker" aria-hidden="true"></i> {{patients.testLocation}}</span>
                                </div>

                                <div class="report_body_contents">
                                    <div class="body_sections">
                                        <p>{{patients.QRSTestName}}</p>
                                        <!-- <p>{{patients.TreatmentNotes}}</p> -->
                                        <p>{{patients.Normal}}</p>
                                    </div>

                                    <div class="body_sections">
                                        <p>{{patients.OverallAssessmentOfECG}}</p>
                                        <!-- <p>{{patients.TreatmentNotes}}</p> -->
                                        <p>{{patients.OverallAssessmentOfECGResult}}</p>
                                    </div>

                                    <div class="body_sections">
                                        <h3>{{patients.Diagnosis}}</h3>
                                        <p>{{patients.DiagnosisResult}}</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>