<div class="login_outer_wrap">
    <div class="login_form_section">
        <div class="left_side_form">
            <div class="logo_section">
                <span>LOGO</span>
            </div>
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password">
                </div>
                <div class="form-group">
                    <button routerLink="/search-patients">Submit</button>
                </div>
            </form>
        </div>
        <div class="right_side_form">
            <div class="right_overlay"></div>
            <div class="right_contents">
                <span>welcome To</span>
                <h1>Data-Driven HealthCare Portal</h1>
                <!-- <p>Login to Access Dashboard</p> -->
            </div>
        </div>
    </div>
</div>